/*清除浮动*/
.clearfix:before,
.clearfix:after{
    content:"";
    display:block;
    visibility:hidden;
    clear:both;
}

/*容器*/
.container {
	margin: 10px auto 0px;
	width: 95%;
}

.db {
  display: block;
}

.dib {
  display: inline-block;
}

.center {
  margin: 0 auto;
}